In [1]:
import pandas

In [3]:
d1=pandas.read_csv('Salary_Data.csv')
d1

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [27]:
import numpy
from sklearn.linear_model import LinearRegression

In [28]:
mind1=LinearRegression()

In [39]:
x=d1["YearsExperience"]
y=d1["Salary"]

In [40]:
type(x)

pandas.core.series.Series

In [41]:
x.shape

(30,)

In [42]:
x=x.values.reshape(30,1)

In [43]:
x.shape

(30, 1)

In [44]:
type(x)

numpy.ndarray

In [45]:
mind1.fit(x, y)

LinearRegression()

In [46]:
mind1.predict([[2]])

array([44692.12484158])

In [47]:
mind1.coef_

array([9449.96232146])

In [48]:
mind1.intercept_

25792.20019866871

In [49]:
import joblib

In [50]:
joblib.dump(mind1,"salary.pk1")

['salary.pk1']